{% extends "estructura/popup.html" %}

{% block popup_class %} small {% endblock%}

{% block popup_id %}
	popup_{{practica.id}}
{% endblock %}

{% block title-popup %} 

	<span class="icon-truck"></span> 
	{% if practica.id == None %} 
		Añadir practica 
	{% else %}
		Editar practica
	{% endif %}

{% endblock%}

{% block content-popup %}

<div class="table">
	
	<div class="row">
		
		<div class="large-12 columns">

			<form method="POST">
			    {% csrf_token %}
			
			<input type="hidden" name="autoescuela" id="autoescuela" value="2">
			
			<table class="table">
			<tbody>	
				<tr>
					<td>Fecha:</td>
					<td>
						<input type="text" class="form-control" name="fecha" id="fecha" placeholder="día/mes/año hora:minutos" value="{{practica.fecha | date:'d/m/y h:i'}}">
					</td>

				</tr>	
				<tr>
					<td>Duración:</td>
					<td>
						<input type="text" class="form-control" name="duracion" id="duracion" placeholder="en minutos" value="{{practica.duracion}}">
					</td>
					
				</tr>								
				<tr>
					<td>Alumno:</td>
					<td>
						<select name="alumno" class="form-control" id="alumno">
						
							<option value="-1">Seleccionar</option>						
							{% for alumno in alumnos %}

								{% if practica.alumno.id == alumno.id %}
									<option value="{{alumno.id}}" selected>{{alumno.apellidos}}, {{alumno.nombre}}</option>
								{% else %}
									<option value="{{alumno.id}}">{{alumno.apellidos}}, {{alumno.nombre}}</option>
								{% endif%}

							{% endfor %}
						
						</select>
					</td>
				</tr>

				<tr>
					<td>Importe:</td>
					<td>
						<input type="text" class="form-control" name="importe" id="importe" placeholder="Importe" value="{{practica.importe}}">
					</td>
				</tr>
					<td>Vehiculo:</td>
					<td>
						<select name="vehiculo" class="form-control" id="vehiculo">
						
							<option value="-1">Seleccionar</option>						
							{% for vehiculo in vehiculos %}

								{% if practica.vehiculo.id == vehiculo.id %}
									<option value="{{vehiculo.id}}" selected>{{vehiculo.nombre}}</option>
								{% else %}
									<option value="{{vehiculo.id}}">{{vehiculo.nombre}}</option>
								{% endif%}

							{% endfor %}
						
						</select>
					</td>
				</tr>							
			</tbody>
			</table>

			</form>
		</div>
	</div>
</div>

<script>

		$(document).ready(function() {
	
			$( ".save-btn" ).click(function() {				
  				var id = $(this).parents(".row-table").data("id");
				guardarFicha("practicas",  "{{ practica.id }}");	
			});
		});

</script>

{% endblock %}