<!DOCTYPE html>
<html lang="es">
<head>

	{% load static from staticfiles %}

	<meta charset="UTF-8">
	<title>Autopractik.es</title>

	<link rel="stylesheet" type="text/css" href="{% static "css/autopractik.css" %}">

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

</head>
<body>
	
	<section>
		<h1>Bienvenido a autopractik.es</h1>
		<p>Esta es la página comercial de autopractik. Reclamo para atoescuelas.</p>
		<ul>
			<li><a href="autoescuelas/">Acceso autoescuelas</a></li>
			<li><a href="alumnos/">Acceso alumnos</a></li>
			<li><a href="profesores/">Acceso profesores</a></li>
		</ul>
	</section>
</body>
</html>