<div class="panel_PopUp" style="width: 800px;">
	<div class="cabecera">
		<span class="titulo">
			<span class="icon icon-left icon-util-form">&nbsp;</span>
			Editar producto 
			<span>(Id:2596 ) </span>
		</span>
		<span class="configure">
			<span class="close glyphicon glyphicon-remove" title="Cerrar panel" onclick="$.aDualPopUp.close();"></span>
		</span>
	</div>

	<div class="panelPopUp_content" style="height: 440px; overflow-x: hidden; overflow-y: scroll;">
		contenido
	</div>

		<div class="panelPopUp_footer">     
			<div class="btn btn-primary pull-right" onclick="$.roboticaProductos.m_guardarProducto(2596,false);">         
				<span class="glyphicon glyphicon-floppy-save pull-left color-white"></span>guardar     
			</div>     
			<div class="btn btn-primary pull-right" onclick="$.roboticaProductos.m_guardarProducto(2596,true);">         
				<span class="glyphicon glyphicon-floppy-save pull-left color-white"></span>guardar y salir     
			</div>
		</div>
	</div>
</div>